<!-- your-component.component.html -->
<!-- 
<div>
    <h2>Create Meeting</h2>
  
    <form (submit)="createMeeting()">
      <label for="eventName">Event Name:</label>
      <input type="text" id="eventName" [(ngModel)]="eventName" required>
  
      <label for="eventDateTime">Event Date and Time:</label>
      <input type="datetime-local" id="eventDateTime" [(ngModel)]="eventDateTime" required>
  
      <button type="submit">Create Meeting</button>
    </form>
  </div> -->

  <div style="text-align: center;">
    <button style="border: 1px solid black; padding: 20px;" (click)="getToken()">getToken</button>
  </div>
  